---
import type { RichTextItemResponse } from '@notionhq/client/build/src/api-endpoints'

export type Props = {
  richText: RichTextItemResponse
}

const { richText } = Astro.props
---

<!-- prettier-ignore -->{
  richText.href ? (
    <a
      href={richText.href}
      class='motion-underline motion-underline-visible transition ease-in-out hover:bg-accent'
    >
      <slot />
    </a>
  ) : (
    <slot />
  )
}
