---
import { NotionTextColorsMap } from '@/libs/helpers/styles'
import type { RichTextItemResponse } from '@notionhq/client/build/src/api-endpoints'

export type Props = {
  richText: RichTextItemResponse
}

const { richText } = Astro.props
---

{
  richText.annotations.color && richText.annotations.color !== 'default' ? (
    <span class={NotionTextColorsMap[richText.annotations.color]}>
      <slot />
    </span>
  ) : (
    <slot />
  )
}
