---
import ThemeIcon from '@/components/ThemeIcon.astro'
import NavbarLink from './NavbarLink.astro'
---

<div class='flex justify-between gap-2 w-full max-w-6xl' transition:persist>
  <ThemeIcon />
  <NavbarLink href='/' label='hkfi' />
  <div class='flex gap-2'>
    <NavbarLink href='/about' label='About' />
    <NavbarLink href='/blog' label='Blog' />
  </div>
</div>
