---
import ThemeIcon from '@/components/ThemeIcon.astro'
import NavbarLink from './NavbarLink.astro'
import GithubIcon from './icons/Github.astro'
import XIcon from './icons/X.astro'
---

<div class='h-[72px] w-full'>
  <div id='navbar-container' class='flex w-full justify-center'>
    <div id='navbar' class='flex w-full max-w-6xl gap-2 p-2' transition:persist>
      <div class='flex w-2/5 items-center gap-4'>
        <ThemeIcon />
        <GithubIcon />
        <XIcon />
      </div>
      <div class='flex w-1/5 justify-center'>
        <NavbarLink href='/' label='hkfi' />
      </div>
      <div class='flex w-2/5 justify-end gap-2'>
        <NavbarLink href='/about' label='About' />
        <NavbarLink href='/blog' label='Blog' />
      </div>
    </div>
  </div>

  <div id='top-of-site-pixel-anchor' class='absolute top-0'></div>

  <script is:inline>
    if (
      'IntersectionObserver' in window &&
      'IntersectionObserverEntry' in window &&
      'intersectionRatio' in window.IntersectionObserverEntry.prototype
    ) {
      let observer = new IntersectionObserver((entries) => {
        if (entries[0].boundingClientRect.y < 0) {
          console.log(
            'entries[0].boundingClientRect.y: ',
            entries[0].boundingClientRect.y
          )
          document.body.classList.add('header-not-at-top')
          if (entries[0].boundingClientRect.y < -10) {
            console.log('asdf')
          }
        } else {
          document.body.classList.remove('header-not-at-top')
        }
      })
      const pixelAnchor = document.querySelector('#top-of-site-pixel-anchor')

      if (pixelAnchor) {
        observer.observe(pixelAnchor)
      }
    }
  </script>

  <style is:global>
    body.header-not-at-top #navbar-container {
      @apply fixed z-10 px-3 py-1;
    }

    body.header-not-at-top #navbar {
      @apply rounded-lg bg-black/20 shadow-lg backdrop-blur;
    }
  </style>
</div>
