---
export type Props = {
  href: string
  label: string
}

const { href, label } = Astro.props
---

<a
  class='flex px-3 py-2 font-bold tracking-widest text-default duration-75 ease-in hover:text-primary'
  href={href}
  >{label}
</a>
