---
import type {
  RichTextItemResponse,
  TextRichTextItemResponse
} from '@notionhq/client/build/src/api-endpoints'

export type Props = {
  richTexts: Array<RichTextItemResponse>
}

const { richTexts } = Astro.props

function isTextRichTextItemResponse(
  richText: RichTextItemResponse
): richText is TextRichTextItemResponse {
  return 'text' in richText && 'content' in richText.text
}
---

{
  richTexts.length > 0 &&
    isTextRichTextItemResponse(richTexts[0]) &&
    richTexts[0].text.content && (
      <div class='caption'>{richTexts[0].text.content}</div>
    )
}

<style>
  .caption {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    color: var(--accents-3);
  }
</style>
