---
import Caption from './Caption.astro'
import type {
  CodeBlockObjectResponse,
  RichTextItemResponse,
  TextRichTextItemResponse
} from '@notionhq/client/build/src/api-endpoints'

import { codeToHtml } from 'shiki'
import {
  transformerNotationDiff,
  transformerNotationHighlight,
  transformerNotationErrorLevel
} from '@shikijs/transformers'
import { bundledLanguages, type BundledLanguage } from 'shiki/langs'

const VALID_LANGUAGES = Object.keys(bundledLanguages) as BundledLanguage[]

type ValidLanguage = (typeof VALID_LANGUAGES)[number]

function isValidLanguage(language: string): language is ValidLanguage {
  return VALID_LANGUAGES.includes(language as ValidLanguage)
}

export type Props = {
  block: CodeBlockObjectResponse
}

const { block } = Astro.props

function isTextRichTextItemResponse(
  richText: RichTextItemResponse
): richText is TextRichTextItemResponse {
  return 'text' in richText && 'content' in richText.text
}

const code = block.code.rich_text
  .map((richText) =>
    isTextRichTextItemResponse(richText) ? richText?.text?.content : ''
  )
  .join('')
const language = block.code.language.toLowerCase()

const htmlCode = await codeToHtml(code, {
  lang: language,
  themes: {
    light: 'rose-pine-dawn',
    dark: 'one-dark-pro'
  },
  transformers: [
    transformerNotationDiff(),
    transformerNotationHighlight(),
    transformerNotationErrorLevel()
  ]
})
---

<div class='code'>
  {
    language === 'mermaid' ? (
      <pre set:html={htmlCode} />
    ) : isValidLanguage(block.code.language) ? (
      <div class='text-sm' set:html={htmlCode} />
    ) : null
  }
  <Caption richTexts={block.code.caption} />
</div>
