---
import Layout from '@/layouts/Layout.astro'
import { t } from '@/i18n/index'
---

<Layout title='404 | hkfi'>
  <div class='flex flex-grow flex-col items-center justify-center'>
    <h1>{t('en', 'error.pageNotFound')}</h1>
    <div>{t('en', 'error.linkOutdated')}</div>
    <div>
      <a href='/'>{t('en', 'error.goBackHome')}</a> {t('en', 'error.orBrowseBlog')} <a href='/blog'>blog</a>.
    </div>
  </div>
</Layout>
