---
import Layout from '@/layouts/Layout.astro'
import { t, getLocale, localePath } from '@/i18n/index'

const locale = getLocale(Astro.currentLocale)
---

<Layout title='404 | hkfi' locale={locale}>
  <div class='flex flex-grow flex-col items-center justify-center'>
    <h1>{t(locale, 'error.pageNotFound')}</h1>
    <div>{t(locale, 'error.linkOutdated')}</div>
    <div>
      <a href={localePath(locale, '/')}>{t(locale, 'error.goBackHome')}</a> {t(locale, 'error.orBrowseBlog')} <a href={localePath(locale, '/blog')}>{t(locale, 'nav.blog').toLowerCase()}</a>.
    </div>
  </div>
</Layout>
