---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='404 | hkfi'>
  <div class='flex flex-grow flex-col items-center justify-center'>
    <h1>Page not found</h1>
    <div>
      That link may be outdated or moved.
    </div>
    <div>
      Go back <a href='/'>home</a> or browse the <a href='/blog/1'>blog</a>.
    </div>
  </div>
</Layout>
