---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='404 | hkfi'>
  <div class='flex flex-grow flex-col items-center justify-center'>
    <h1>This page does not exist</h1>
    <div>
      Go back to <a href='/'>home</a>
    </div>
  </div>
</Layout>
