---
import Layout from '@/layouts/Layout.astro'
---

<Layout title='About'>
  <div class='flex w-full flex-col p-4'>
    <div class='text-lg'>
      Hey there, I'm Hiroki, a Software Engineer (Full-stack Web). These days I
      work mostly with tools in the JavaScript and Python ecosystems.
    </div>
  </div>
</Layout>
