---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

import { Client } from '@notionhq/client'
import type { PageObjectResponse } from '@notionhq/client/build/src/api-endpoints'

const notion = new Client({
  auth: import.meta.env.NOTION_INTEGRATION_TOKEN
})

const blogPosts = await notion.databases
  .query({
    database_id: import.meta.env.NOTION_DATABASE_ID,
    filter: {
      property: 'Published',
      checkbox: {
        equals: true
      }
    },
    page_size: 10,
    sorts: [
      {
        property: 'Published',
        direction: 'descending'
      }
    ]
  })
  .then((res) => {
    console.log('res: ', res)
    return res.results as PageObjectResponse[]
  })
  .catch((e) => {
    console.log(e)
    return null
  })
---

<Layout title='Welcome to Astro.'>
  <main>
    <h1 class='text-3xl'>hkfi</h1>
    <ol class='list-decimal'>
      {
        blogPosts?.map((blogPost) => {
          if (!('title' in blogPost.properties.Title)) return null
          return <li>{blogPost.properties.Title.title[0].plain_text}</li>
        })
      }
    </ol>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
