---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import PostLink from '@/components/PostLink.astro'
import { getAllPosts } from '@/libs/notion/client'

const blogPosts = await getAllPosts().then((res) => {
  return res.slice(0, 5)
})
---

<Layout title='hkfi'>
  <main class='w-full max-w-6xl'>
    <div class='text-xl font-bold'>Recent Posts</div>
    <div class='flex flex-col gap-1'>
      {
        blogPosts?.map((blogPost) => {
          return <PostLink post={blogPost} />
        })
      }
    </div>
  </main>
</Layout>
