---
import { NotionTextColorsMap } from '@/libs/helpers/styles'
import type { SelectPropertyResponse } from '@/libs/notion/custom-types'

type Props = {
  tag: SelectPropertyResponse
}

const { tag } = Astro.props
---

<button
  type='button'
  data-tag={tag.name}
  class={`blog-tag-btn ${NotionTextColorsMap[tag.color]} bg-muted px-3 py-1 hover:bg-secondary rounded-full border border-solid border-accent cursor-pointer transition-colors`}
  aria-pressed='false'
  transition:name={`tag-${tag.name}`}
>
  {tag.name}
</button>
