---
import NotionBlocks from './NotionBlocks.astro'
import type { BlockObjectResponse } from '@notionhq/client/build/src/api-endpoints'
import type { CustomBlockObjectResponse } from '@/libs/notion/client'
import ArrowUp from './icons/ArrowUp.astro'

export type Props = {
  blocks: Array<BlockObjectResponse | CustomBlockObjectResponse>
}

const { blocks } = Astro.props
---

<div class='flex flex-col gap-1.5 p-2'>
  <button
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    id='scroll-to-top'
    class='invisible fixed bottom-0 right-10 z-10 flex h-16 w-16 -translate-y-10 items-center justify-center rounded-full bg-primary transition-all duration-200 ease-in-out hover:bg-secondary'
  >
    <ArrowUp />
  </button>
  <NotionBlocks blocks={blocks} isRoot={true} />
</div>

<script>
  // Make the scroll to top button appear when the user scrolls up
  window.addEventListener('wheel', (e) => {
    const scrollDirection = e.deltaY < 1 ? 1 : e.deltaY > 1 ? -1 : 0

    const scrollToTop = document.getElementById('scroll-to-top')

    if (scrollDirection === 1 && window.scrollY > 0) {
      scrollToTop?.classList.add('visible', 'opacity-100')
      scrollToTop?.classList.remove('invisible', 'opacity-0')
    } else if (scrollDirection === -1) {
      scrollToTop?.classList.add('invisible', 'opacity-0')
      scrollToTop?.classList.remove('visible', 'opacity-100')
    }
  })

  // Make the scroll to top button appear when the user is not at the top of the page
  if (
    'IntersectionObserver' in window &&
    'IntersectionObserverEntry' in window &&
    'intersectionRatio' in window.IntersectionObserverEntry.prototype
  ) {
    const scrollToTop = document.getElementById('scroll-to-top')

    let observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        scrollToTop?.classList.add('visible', 'opacity-100', '-translate-y-10')
        scrollToTop?.classList.remove('invisible', 'opacity-0', 'translate-y-0')
      } else {
        scrollToTop?.classList.add('invisible', 'opacity-0', 'translate-y-0')
        scrollToTop?.classList.remove(
          'visible',
          'opacity-100',
          '-translate-y-10'
        )
      }
    })

    const pixelAnchor = document.querySelector('#top-of-site-pixel-anchor')

    if (pixelAnchor) {
      observer.observe(pixelAnchor)
    }
  }
</script>
