---
import '@fontsource/outfit'
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions'
import Navbar from './Navbar/index.astro'
import Footer from './Footer.astro'
import PostHog from '@/components/third-party/PostHog.astro'
import type { AstroSeoProps } from '@astrolib/seo'
import { AstroSeo } from '@astrolib/seo'
import CommandPalette from '@/components/CommandPalette'
import { getAllPosts } from '@/libs/notion/client'

export type Props = {
  title: string
  seo?: AstroSeoProps
}

const { title, seo } = Astro.props

const allPosts = await getAllPosts()
const commandPaletteItems = allPosts.map((post) => ({
  title:
    'title' in post.properties.Title && post.properties.Title.title[0]
      ? post.properties.Title.title[0].plain_text
      : '',
  slug:
    'rich_text' in post.properties.Slug
      ? post.properties.Slug.rich_text[0].plain_text
      : '',
  tags:
    'Tags' in post.properties && 'multi_select' in post.properties.Tags
      ? post.properties.Tags.multi_select.map((t: any) => t.name)
      : [],
}))
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <AstroSeo {...seo} />
    <title>{title}</title>
    <ClientRouter />
    <PostHog />
  </head>
  <body
    class='text-default flex min-h-screen flex-col items-center bg-background'
  >
    <Navbar />
    <main class='flex w-full max-w-6xl flex-grow flex-col gap-2 p-2'>
      <slot />
    </main>
    <Footer />
    <div transition:persist='command-palette'>
      <CommandPalette client:only='react' posts={commandPaletteItems} />
    </div>

    <style is:global>
      html {
        font-family: 'Outfit', system-ui, sans-serif;
      }

      body {
        @apply text-text;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>

    <script>
      const setDarkMode = () => {
        if (localStorage.theme === 'dark') {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }

      // Runs on initial navigation
      setDarkMode()
      // Runs on view transitions navigation
      document.addEventListener('astro:after-swap', setDarkMode)
    </script>
  </body>
</html>
