---
import '../styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import Navbar from './Navbar/index.astro'
import Footer from './Footer.astro'

export type Props = {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class='flex min-h-screen flex-col items-center bg-background text-default'
  >
    <Navbar />
    <main class='flex w-full max-w-6xl flex-grow flex-col items-center p-2'>
      <slot />
    </main>
    <Footer />

    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }

      body {
        @apply text-text;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>

    <script>
      const setDarkMode = () => {
        if (localStorage.theme === 'dark') {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }

      // Runs on initial navigation
      setDarkMode()
      // Runs on view transitions navigation
      document.addEventListener('astro:after-swap', setDarkMode)
    </script>
  </body>
</html>
